<div class="container center-align">
  <div class="section">
    <h4 class="pink-text darken-5">Create New Eatery</h4>

    <div class="row">
      <div class="col s3">
      </div>

      {{!-- <form class="col s12 m6" enctype="multipart/form-data" action="/eateries/register" method="post"> --}}

      <form class="col s12 m6" action="/eateries/register" method="post">

        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" name="name" class="validate" required>
            <label for="name">Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="address" type="text" name="address" class="validate" required>
            <label for="address">Address</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="area" type="text" name="area" class="validate" required>
            <label for="area">Area</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select name="status">
            <option value="" disabled selected>Select One</option>
            <option value="Halal Certified">Halal Certified</option>
            <option value="Muslim Owned">Muslim Owned</option>
          </select>
            <label for="status">Status</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="cuisine" type="text" name="cuisine" class="validate" required>
            <label for="cuisine">Cuisine</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="website" type="text" name="website" class="validate" required>
            <label for="website">Website</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="image" type="text" name="image" class="validate" required>
            <label for="image">Image</label>
          </div>
        </div>

        {{!-- <div class="file-field input-field">
          <div class="btn blue darken-4">
            <span>Add Image</span>
            <input type="file" name="image">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <br> --}}
        
        <button class="btn waves-effect waves-light center pink darken-4" type="submit" name="action">Create
          <i class="material-icons left">send</i>
        </button>

      </form>
    </div>
  </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initMap">
