<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Makan Apa</title>

  <!--Import Google Icon Font-->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <div class="navbar">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo"><img src="http://i.imgur.com/BNqsg9z.png" height="56" width="56"></a>
        <ul class="right">
          {{#if currentUser}}
          <li><a href="/users/profile">Profile</a></li>
          <li><a href="/users/logout">Logout</a></li>
          {{else}}
          <li><a href="/users/register">Sign Up</a></li>
          <li><a href="/users/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>

  {{{body}}}

  <footer class="page-footer blue-grey darken-4">
    <div class="container">
      <h5 class="white-text">Contact Us</h5>
      <p class="grey-text text-lighten-4">
        8 Claymore Hill, Singapore 229572<br>
        support@makanapa.com.sg<br>
        +65 8123 4567<br>
      </p>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017  Makan Apa Pte Ltd. All rights reserved.
      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="/js/script.js"></script>
  {{!-- <script src='/js/jquery.ui.widget.js' type='text/javascript'></script>
  <script src='/js/jquery.iframe-transport.js' type='text/javascript'></script>
  <script src='/js/jquery.fileupload.js' type='text/javascript'></script>
  <script src='/js/jquery.cloudinary.js' type='text/javascript'></script> --}}

  {{!-- <script type="text/javascript">var GOOGLE_MAPS_KEY = "{{GOOGLE_MAPS_KEY}}"</script> --}}

</body>

</html>
