<div class="container center-align">
  <div class="section">
    <h4 class="pink-text darken-5">How was your visit to {{eatery.name}}?</h4>


    <div class="row">
      <div class="col s3">
      </div>

      <form class="col s12 m6" action="/ratings/{{eatery.id}}" method="post">

        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="dateOfVisit" class="datepicker">
            <label for="dateOfVisit">Date of Visit</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select name="ambience">
                    <option value="" disabled selected>Select One</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            <label for="ambience">Ambience</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select name="food" class="validate">
                    <option value="" disabled selected>Select One</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            <label for="food">Food</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select name="location">
                    <option value="" disabled selected>Select One</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            <label for="location">Location</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select name="service">
                    <option value="" disabled selected>Select One</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            <label for="service">Service</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select name="valueForMoney">
                    <option value="" disabled selected>Select One</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            <label for="valueForMoney">Value for Money</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="comment" name="comment" class="materialize-textarea" data-length="120"></textarea>
            <label for="comment">Comment</label>
          </div>
        </div>

        <button class="btn waves-effect waves-light center pink darken-4" type="submit" name="action">Send
          <i class="material-icons left">send</i>
        </button>

      </form>
    </div>
  </div>
</div>
