<div class="container">
  <div class="section">

    {{#if currentUser}}
      <h3>Hello, {{ currentUser.name }}.</h3>
    {{/if}}

    <div class="row">
      <div class="col s12 ">
        <ul class="tabs white">
          <li class="tab col s3"><a class="active" href="#userMap">Dashboard</a></li>
          <li class="tab col s3"><a href="#reviews">Reviews</a></li>
        </ul>
      </div>

      <div id="userMap" class="col s12">
      </div>

      <div id="reviews" class="col s12">
        <span class="new badge red" data-badge-caption="Work in Progress"></span>
      </div>

    </div>

  </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&language=en&region=SG&callback=initUserMap">
</script>
